/* Lato Light */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/lato/Lato-Light.woff2') format('woff2'),
    url('../fonts/lato/Lato-Light.woff') format('woff');
  font-display: swap;
}

/* Lato Regular */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
    url('../fonts/lato/Lato-Regular.woff') format('woff');
  font-display: swap;
}

/* Lato Italic */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src:
    url('../fonts/lato/Lato-Italic.woff2') format('woff2'),
    url('../fonts/lato/Lato-Italic.woff') format('woff');
  font-display: swap;
}

/* Lato Bold */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
    url('../fonts/lato/Lato-Bold.woff') format('woff');
  font-display: swap;
}
